<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <%-include('./partials/dashboard-head.ejs');%>

</head>

<body class="bg-dark">
    <%-include('./partials/dashboard-header.ejs');%>

        <!-- start setting box -->

        <%-include('./partials/sideslide.ejs');%>

            <!-- end setting box -->

            <!-- Start Qualification Page  -->
            <h1 class="text-center text-white">اعدادت الدورات التدريبية </h1>
            <div class="container pt-5 ">
                <a href="#" class="btn btn-sm btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                    class="fa fa-plus"></i> اضافة جديد</a>
                <div class="table-responsive scrollable-div">
                    <table class="main-table manage-members text-center table table-bordered ">
                        <tr>
                            <td>ID</td>
                            <td>اسم الدورة </td>
                            <td>المعدل</td>
                            <td>اسم المركز</td>

                            <td>تاريخ اكمال الدورة</td>
                            <td>التحكم</td>
                        </tr>
                        <% if(courses.length){ for(var i=0;i<courses.length;i++){ %>


                            <tr>
                                <td>
                                    <%=i+1%>
                                </td>
                                <td>
                                    <%=courses[i].course_name%>
                                </td>
                                <td>
                                    <%=courses[i].course_average%>
                                </td>
                                <td>
                                    <%=courses[i].course_center_name%>
                                </td>
                                <td>
                                    <%=courses[i].course_date%>
                                </td>

                                <td>
                                    <a href="#" class="btn btn-success" data-bs-toggle="modal"
                                        data-bs-target="#editModal<%=courses[i]._id%>"><i class="fa fa-edit"></i> تعديل</a>
                                    <a href="/delete_course/<%=courses[i]._id%>" class="btn btn-danger confirm"> <i class="fa fa-close"></i> حذف</a>
                                </td>
                            </tr>



  <!-- Modal Edit-->
  <div class="modal fade" id="editModal<%=courses[i]._id%>" tabindex="-1" aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">تعديل دورة</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form action="/edit_course" method="post">
                  <input type="hidden" value="<%=courses[i]._id%>" name="id" >
                  <div class="mb-3 row">
                      <label for="course" class="col-sm-3 col-form-label">الدورة</label>
                      <div class="col-sm-9">
                          <input type="text" class="form-control" id="course"
                              placeholder="ادخل اسم الدورة" name="course_name" value="<%=courses[i].course_name%>" >
                      </div>
                  </div>
                  <div class="mb-3 row">
                      <label for="average" class="col-sm-3 col-form-label">المعدل</label>
                      <div class="col-sm-9">
                          <input type="text" class="form-control" id="average" placeholder="ادخل المعدل" name="course_average"
                          value="<%=courses[i].course_average%>"
                          >
                      </div>
                  </div>
                  <div class="mb-3 row">
                      <label for="Institute" class="col-sm-3 col-form-label">اسم المركز</label>
                      <div class="col-sm-9">
                          <input type="text" class="form-control" id="Institute"
                              placeholder="ادخل اسم المركز" name="course_center_name"
                              value="<%=courses[i].course_center_name%>"
                              >
                      </div>
                  </div>

                  <div class="mb-3 row">
                      <label for="date" class="col-sm-3 col-form-label">تاريخ اكمال الدورة</label>
                      <div class="col-sm-9">
                          <input dir="ltr" type="date" class="form-control" id="date" placeholder="ادخل التاريخ" name="course_date"
                          value="<%=courses[i].course_date%>"
                          > 
                      </div>
                  </div>
                  <div class="modal-footer">
                  
                      <button type="submit" class="btn btn-primary">تحديث</button>
                      <button type="button" class="btn btn-secondary"
                      data-bs-dismiss="modal">اغلاق</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>


                            <% }} else{%>
                                <tr>
                                    <td colspan="6">
                                        لايوجد دورات مضافة
                                    </td>
                                </tr>

                                <%} %>





                    </table>
                </div>
         
            </div>


            <!-- Modal Add New-->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">اضافة دورة</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="add_course" method="post">
                                <div class="mb-3 row">
                                    <label for="courses" class="col-sm-3 col-form-label">اسم الدورة</label>
                                    <div class="col-sm-9">
                                        <input name="course_name" type="text" class="form-control" id="courses"
                                            placeholder="ادخل اسم الدورة">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="average" class="col-sm-3 col-form-label">المعدل</label>
                                    <div class="col-sm-9">
                                        <input name="course_average" type="text" class="form-control" id="average"
                                            placeholder="ادخل المعدل">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="institute" class="col-sm-3 col-form-label">اسم المركز</label>
                                    <div class="col-sm-9">
                                        <input name="course_center_name" type="text" class="form-control" id="institute"
                                            placeholder="ادخل اسم المركز">
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="date" class="col-sm-3 col-form-label">تاريخ اكمال الدورة</label>
                                    <div class="col-sm-9">
                                        <input name="course_date" type="date" class="form-control" id="date"
                                            placeholder="ادخل تاريخ اكمال الدورة">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">اضافة</button>
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">اغلاق</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          

            <!-- End Qualification Page -->
            <%-include('./partials/flash-messages.ejs');%>

<%-include('./partials/importing-files.ejs');%>


</html>