<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <link rel="stylesheet" href="stylesheets/dashboard/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="stylesheets/dashboard/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/dashboard/jquery-ui.css">
    <link rel="stylesheet" href="stylesheets/dashboard/style.css">
<head>

</head>

<body class="bg-dark">

    <!-- start setting box -->

    <%-include('./partials/sideslide.ejs');%>

   

    <!-- Start Experience Page  -->
    <h1 class="text-center text-white">اعدادت الخبرات</h1>
    <div class="container pt-5">
        <div class="table-responsive">
            <table class="main-table manage-members text-center table table-bordered">
                <tr>
                    <td>ID</td>
                    <td>الخبرات</td>
                    <td>السنوات</td>
                    <td>الشركة</td>
         
                    <td>التحكم</td>
                </tr>
                <!-- <tr>
                    <td>#</td>
                    <td>تطوير مواقع</td>
                    <td>3 سنوات</td>
                    <td> شركة AZ Software </td>
                    <td>
                        <a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal"><i
                                class="fa fa-edit"></i> تعديل</a>
                        <a href="#" class="btn btn-danger confirm"> <i class="fa fa-close"></i> حذف</a>
                    </td>
                </tr> -->
               
                    <tbody>
                        <% if(data.length){
                  
                        for(var i = 0; i< data.length; i++) {%>  
                        <tr>
                          <td scope="row"><%= (i+1) %></td>
                          <td><%=   experiencedata= data[i].experience%></td>
                          <td><%= data[i].year%></td>
                          <td><%= data[i].company_name%></td>
                          <td>
                        <a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal"><i
                                class="fa fa-edit"></i> تعديل</a>
                                <a class="delete btn-danger" data-doc="<%= data._id %>">delete</a>
                    </td>
                        </tr>
                        <% }
                                 
                         }else{ %>
                             <tr>
                                <td colspan="3">No user</td>
                             </tr>
                          <% } %>    
                        
                      </tbody>
              
             
              
        
            </table>
        </div>
        <a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
            class="fa fa-plus"></i> اضافة جديد</a>
    </div>
    <!-- End Experience Page -->

    <!-- Modal Add New-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">اضافة خبرات</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="add_experience" method="post">
                        <div class="mb-3 row">
                            <label for="Experience" class="col-sm-3 col-form-label">التفاصيل</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="experience" placeholder="ادخل تفاصيل الخبرات" name="experience">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="years" class="col-sm-3 col-form-label">عدد السنوات</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="years" placeholder="ادخل عدد سنوات الخبرة" name="year">
                            
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="company" class="col-sm-3 col-form-label">اسم الشركة</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="company" placeholder="ادخل اسم الشركة" name="company_name">
                            </div>
                        </div>
                      
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">اغلاق</button>
                            <button type="submit" class="btn btn-primary">اضافة</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Edit-->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">تعديل الخبرات</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/edit" method="post">
                        <div class="mb-3 row">
                            <label for="Experience" class="col-sm-3 col-form-label">التفاصيل</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="experience" name="experience" value="">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="years" class="col-sm-3 col-form-label">عدد السنوات</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="years"  name="year"  value=" ">
                                
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="company" class="col-sm-3 col-form-label">اسم الشركة</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="company" name="company_name" value="" >
                            </div>
                        </div>
                   
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">اغلاق</button>
                            <button type="submit" class="btn btn-primary">تحديث</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<%-include('./partials/importing-files.ejs');%>
<script>
    const trashcan = document.querySelector('a.delete');
    trashcan.addEventListener('click', (e) => {
      const endpoint = `/experience/${trashcan.dataset.doc}`;
      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    </script>
</body>

</html>