<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <%-include('./partials/dashboard-head.ejs');%>

</head>

<body class="bg-dark">
    <%-include('./partials/dashboard-head.ejs');%>

        <!-- start setting box -->

        <%-include('./partials/sideslide.ejs');%>


            <!-- end setting box -->

            <!-- Start Qualification Page  -->
            <h1 class="text-center text-white">اعدادت المؤهلات</h1>
            <div class="container pt-5">
                <div class="table-responsive">
                    <table class="main-table manage-members text-center table table-bordered">
                        <tr>
                            <td>ID</td>
                            <td>المؤهل</td>
                            <td>عام التخرج</td>
                            <td>جامعة - مركز</td>
                            <td>التحكم</td>
                        </tr>

                        <% if(qualifications.length) { 
                            
                            for(var i=0;i<qualifications.length;i++) { %>
                            <tr>
                                <td>
                                    <%=(i+1) %>
                                </td>
                                <td>
                                    <%=qualifications[i].qualification %>
                                </td>
                                <td>
                                    <%=qualifications[i].date %>
                                </td>
                                <td>
                                    <%=qualifications[i].university %>
                                </td>
                                <td  >
                        <a  href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal<%=qualifications[i]._id%>"><i
                                class="fa fa-edit"></i> تعديل</a>
                                <a href="/delete_qualification/<%= qualifications[i]._id %>" class="btn btn-danger confirm" >
                                <i class="fa fa-delete">حذف</i></a>
                    </td>
                            </tr>



                                <% } }else{ %>
                                    <tr>
                                        <td colspan="5">لايوجد مهارات</td>
                                    </tr>

                                    <%} %>



                    </table>
                </div>
                <a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                        class="fa fa-plus"></i> اضافة</a>
            </div>


            <!-- Modal Add New-->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">اضافة المؤهل</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="add_qualification" method="post">
                                <div class="mb-3 row">
                                    <label for="qualification" class="col-sm-3 col-form-label">المؤهل</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="qualification"
                                            placeholder="ادخل المؤهل" required name="qualification">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="years" class="col-sm-3 col-form-label">عام التخرج</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" id="years" placeholder="ادخل عام التخرج"
                                            required name="date">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="university" class="col-sm-3 col-form-label">جامعة - مركز</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="university"
                                            placeholder="ادخل الجامعة او المركز" required name="university">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">اضافة</button>
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">اغلاق</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Edit-->
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="staticBackdropLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">تعديل المؤهل</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="skills.html" method="post">
                                <div class="mb-3 row">
                                    <label for="Experience" class="col-sm-3 col-form-label">المؤهل</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="skill" placeholder="ادخل المؤهل">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="years" class="col-sm-3 col-form-label">عام التخرج</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="years"
                                            placeholder="ادخل عام التخرج">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="universtiy" class="col-sm-3 col-form-label">جامعة - مركز</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="universtiy"
                                            placeholder="ادخل الجامعة او المركز">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">اغلاق</button>
                                    <button type="button" class="btn btn-primary">تحديث</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End Qualification Page -->
            <%-include('./partials/importing-files.ejs');%>

</body>

</html>