<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <%-include('./partials/dashboard-head.ejs');%>

</head>

<body class="bg-dark pb-5" >

    <!-- start setting box -->

    <%-include('./partials/sideslide.ejs');%>
    <%-include('./partials/dashboard-header.ejs');%>

    <!-- end setting box -->

    <!-- Start Skills Page  -->
    <h1 class="text-center text-white">اعدادت المهارات</h1>
    <div class="container pt-5">
        <a href="#" class="btn btn-sm btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
            class="fa fa-plus"></i> اضافة جديد</a>
        <div class="table-responsive scrollable-div">
            <table class="main-table manage-members text-center table table-bordered">
                <tr>
                    <td>ID</td>
                    <td>اسم المهارة</td>
                    <td>الوصف</td>
                    <td>مستوى المهارة</td>
                    <td>التحكم</td>
                </tr>
                <% let i =1; if(skills.length){ %>
                <% for(let item =0; item< skills.length; item++){ %>
                <tr>
                    <td><%= i++ %></td>
                    <td><%= skills[item].name %></td>
                    <td><%= skills[item].description %></td>
                    <td><%= skills[item].level %></td>
                    <td>
                        <a href="#" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#editModal<%= skills[item]._id %>"><i class="fa fa-edit"></i> تعديل</a>
                        <a href="/delete_skill/<%=skills[item]._id%>" class="btn btn-danger confirm"> <i
                                class="fa fa-close"></i> حذف</a>
                    </td>
                </tr>


                 <!-- Modal Edit-->
    <div class="modal fade" id="editModal<%=skills[item]._id %>" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">تعديل المهارة</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="edit_skill" method="post">
                    <input  type="hidden" name="id" value="<%=skills[item]._id%>">
                        <div class="mb-3 row">
                            <label for="Experience" class="col-sm-3 col-form-label">اسم المهارة</label>
                            <div class="col-sm-9">
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="skill" 
                                    name="name"
                                    placeholder="ادخل اسم المهارة" 
                                    value="<%=skills[item].name%>"
                                   >
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="years" class="col-sm-3 col-form-label">الوصف</label>
                            <div class="col-sm-9">
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="description" 
                                    name="description"
                                    placeholder="ادخل الوصف" 
                                  value="<%=skills[item].description%>"
                                   >
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="company" class="col-sm-3 col-form-label">مستوى المهارة</label>
                            <div class="col-sm-9">
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="level" 
                                    name="level"
                                    placeholder="ادخل المستوى" 
                                  value="<%=skills[item].level%>"

                                   >
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">تحديث</button>

                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">اغلاق</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
            <%}
            
            
                }

            else{
            %>

                <tr>
                                <td colspan="5">لايوجد مهارات</td>
                             </tr>

            <%}%>

            </table>
        </div>
        
    </div>
    

    <!-- Modal Add New-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">اضافة مهارة</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="add_skill" method="post">
                        <div class="mb-3 row">
                            <label for="skill" class="col-sm-3 col-form-label">اسم المهارة</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="skill" name="name" placeholder="ادخل المهارة" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="description" class="col-sm-3 col-form-label">الوصف</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="description"  name="description" placeholder="ادخل الوصف" required >
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="level" class="col-sm-3 col-form-label">مستوى المهارة</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="level" name="level" placeholder="ادخل المستوى اوالنسبة" required >
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">اضافة</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">اغلاق</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
   

    <%-include('./partials/flash-messages.ejs');%>
<%-include('./partials/importing-files.ejs');%>
  
</body>

</html>